.modal-header
  h3.modal-title Empower Your Business
  button.btn.btn-warning(ng-click='cancel()') Close
.modal-body
  .form-group
   label How much does your business need to reach its goal?
   input.form-control(type='email', placeholder='$40,000')
  .form-group
   label Name
   input.form-control(type='email', placeholder='$40,000')
  .row-fluid
   button.btn.btn-warning.bottom(ng-click='cancel()') Close
  






