extends layout

block content
  .bodyWrapper
   .card
    .toolbar
      .toolbar__left(class='mr++')
        lx-dropdown(position='left', from-top='')
          button.btn.btn--l.btn--black.btn--icon(lx-ripple='', lx-dropdown-toggle='')
            i.mdi.mdi--menu
          lx-dropdown-menu
              ul
                li
                  a.dropdown-link Action
                li
                  a.dropdown-link Another action
                li
                  a.dropdown-link Something else here
                li.dropdown-divider
                li
                  a.dropdown-link.dropdown-link--is-header Header
                li
                  a.dropdown-link Separated link
      span.toolbar__label.fs-title.ml Lorem Ipsum
      .toolbar__right
        lx-dropdown(position='right', from-top='')
          button.btn.btn--l.btn--black.btn--icon(lx-ripple='', lx-dropdown-toggle='')
            i.mdi.mdi--more-vert
          lx-dropdown-menu
            ul
              li
                a.dropdown-link Action
              li
                a.dropdown-link Another action
              li
                a.dropdown-link Something else here
              li.dropdown-divider
              li
                a.dropdown-link.dropdown-link--is-header Header
              li
                a.dropdown-link Separated link
        lx-search-filter(closed='', theme='dark')


  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/velocity/velocity.js')
  script(src='/bower_components/moment/min/moment-with-locales.min.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/lumx/dist/js/lumx.js')
  script(src='/js/app.js')