doctype html
html(ng-app="ldga")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/lumx/dist/css/lumx.css')
  body
    block content