@import url('http://fonts.googleapis.com/css?family=Raleway')
@font-face 
  font-family:'leagueG'
  src url('/fonts/LeagueGothic-Regular.otf')
@font-face 
  font-family:'Code'
  src url('/fonts/Code.otf')
@font-face 
  font-family:'MSans'
  src url('/fonts/M-Sans.ttf')
@font-face 
  font-family:'Arca'
  src url('/fonts/Arca-Heavy.ttf')
@media only screen and (max-width: 520px) {
     #nav { position: absolute; }
}